.detail-container {
    background-color: rgb(245, 245, 245);
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    
        h5 {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    p {
        color: rgb(46, 46, 46);
    }
}