<nav class='navbar navbar-expand navbar-light bg-light'>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/en/8/83/Salesforce_logo.svg" style="height: 3rem;">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <a class="btn btn-link" [routerLink]="['blog/create/']">Create new blog</a>
        </div>
    </div>
</nav>
<div class='container-fluid'>
    <router-outlet></router-outlet>
</div>